/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0;
    max-width: 1440px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

li a {
    color: black;
    text-decoration: none;
}

/****** Header ******/

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 68px;
    list-style-type: none;  
}

header li a:hover, header li a:focus {
    color: var(--main-color);
    border-color: var(--main-color);
}

header li a {
    border-top: 2px solid transparent;
    padding-top: 14px;
}

.logo {
    height: 19px;
    width: 61.09px;
    margin-top: 30px;
}

h1 {
    margin-top: 60px;
    font-size: 22px;
}

h1 + p {
    margin-top: 8px;
    font-size: 16px;
}

form {
    display: flex;
    height: 49px;
    margin-top: 35px;
}

.icone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
}

.icone i {
    margin: 15px 18px 16px 18px;
}

.fa-location-dot {
    color: black;
}

input {
    width: 195px;
    padding: 0 0 0 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    border: 1px solid var(--main-bg-color);
    border-right: none;
    border-left: none;
}

button {
    background-color: var(--main-color);
    color: white;
    font-weight: 700;
    font-size: 18px;
    border: var(--main-color);
    border-radius: 0 15px 15px 0;
    padding: 14px 16px;
}

.button-2 {
    visibility: hidden;
}

header section {
    display: flex;
    margin-top: 35px;
}

header h2 {
    font-size: 18px;
    display: flex;
    align-items: center;
    margin: 0;
}

.filtres {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    margin: 0;
    padding-left: 15px;
}

.filtres li {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 700;
    padding: 15px 19px;
}

.filtres li:hover {
    background-color: var(--filter-bg-color);
}

.filtres .fa-solid {
    padding-right: 10px;
}

.infobar {
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 16px;
    height: auto;
    align-items: center;
}

.infobar span {
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
}

.infobar i {
    padding-left: 9px;
}

.fa-info::before {
    padding-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements-and-populaires a {
    color: black;
    text-decoration: none;
} 

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements h2 {
    font-size: 22px;
    margin: 0;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
}

.hebergements .card a {
    display: flex;
    flex-direction: column;
}

.hebergements img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
}

.hebergements .card-content {
    margin-left: 10px;
    margin-top: 5px;
}

.hebergements .card-title {
    margin-top: 4px;
    margin-bottom: 0;
}

.hebergements .card-subtitle{
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
}

.hebergements-cards p {
    font-weight: 700;
    font-size: 18px;
    margin: 1px;
}

.hebergements .card-rating {
    font-size: 13px;
    margin-bottom: 10px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    margin-top: 30px;
}

.populaires-cards .card a {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites a Marseille *******/

.activites-marseille {
    margin-bottom: 65px;
}

.activites-marseille h2 {
    font-size: 22px;
    margin: 65px 0 30px 30px;
}

.activites-marseille ul {
    display: flex;
    gap: 30px;
    margin: 30px;
    padding: 0;
}

.activites-marseille li {
    list-style-type: none;
    filter: drop-shadow(0 3px 15px rgba(0, 0, 0, 0.1));
    width: 100%;
}

.activites-marseille figure {
    display: flex;
    flex-direction: column;
    margin: 0;
    background: white;
    border-radius: 20px;
    height: 100%;
}

.activites-marseille img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activites-marseille figcaption {
    font-size: 16px;
    font-weight: 700;
    padding: 20px 19px 20px 19px;
    margin: auto 0;
}

/****** Footer ******/

footer {
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer h3 {
    font-size: 18px;
    margin: 20px 0 15px 20px;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer li {
    font-size: 16px;
    margin: 15px 0 15px 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1023px) {
    header section {
        flex-direction: column;
    }

    header h2 {
        margin: 0 0 20px 0;
    }

    .filtres {
        padding: 0;
        margin: 0;
    }

    .filtres li {
        font-size: 16px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
        margin-top: 20px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-marseille img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {
    body {
        padding: 0;
    }

    .main-container {
        padding: 0;
    }

    h1 {
        margin: 0;
    }

    header h1, header p, form, header section {
        padding-left: 5.8%;
        padding-right: 5.8%;
        
    }

    section {
        padding-left: 20px;
        padding-right: 20px;
    }

    nav {
        flex-direction: column;
    }

    .logo {
        margin: auto;
        padding-top: 30px;
    }

    nav ul {
        margin: 30px 0 30px 0;
        padding: 0;
        gap: 0;
        text-align: center;
    }

    header li a {
        display: block;
        border-top: none;
        padding: 0 0 15px 0;
        border-bottom: 2px solid var(--main-bg-color);
    }

    header li a:hover {
        border-color: var(--main-color);
    }

    header nav li {
       width: 50%;
    }

    form {
        justify-content: center;
    }

    input {
        width: 100%;
        max-width: 288px;
        margin-right: -10px;
    }

    .button-1 {
        display: none;
    }

    .button-2 {
        visibility: visible;
        border-radius: 15px;
        padding: 0;
    }

    .fa-magnifying-glass {
        color: white;
        font-size: 17px;
        padding: 16px;
    }

    header section {
        flex-direction: column;
    }

    .filtres {
        gap: 20px 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .filtres li {
        font-size: 14px;
        min-width: 120px;
        padding: 15px 0 15px 19px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
        padding: 35px 20px 85px 20px;
    }

    .hebergements-and-populaires .populaires {
        padding: 30px 20px;
    }

    .one {
        order: 1;
    }

    .two {
        order: 6;
    }

    .three{
        order: 3;
    }

    .four {
        order: 4;
    }

    .five {
        order: 2;
    }

    .six {
        order: 5;
    }

    .seven {
        order: 7;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        gap: 15px;
    }

    .hebergements .card-rating {
        margin-bottom: 8px;
    }

    .populaires {
        margin-top: 0;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards .card {
        width: auto;
        margin-top: 15px;
    }
    
    .activites-marseille ul {
        flex-direction: column;
        margin: 0 10px 0 10px;
    }

    .activites-marseille h2 {
        margin: 0 0 30px 10px;
    }

    .activites-marseille img {
        height: 141px;
    }
    
    footer {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }

    footer h3 {
        margin: 0;
    }

    footer li {
        margin-left: 0;
    }

    footer section {
        margin: 0 0 50px 30px;
    }

}